<%
/**
 * get index of the end of paragraph
 * @param numberOfParagraph
 * @param start
 * @returns {number|*}
 */
function getIndex(numberOfParagraph, start) {
    start = start || 0; //if start is omitted, start search from 0;
    if (numberOfParagraph === 0) {
        return start;
    }
    start = post.content.indexOf('\n', start) + 1;
    return getIndex(--numberOfParagraph, start);
}
var excerpt = post.excerpt || post.content.substr(0, getIndex(3));
var anchor = post.excerpt?'#more':'#post-title';
%>

<article id="<%= post.layout %>-<%= post.slug %>" class="article clear article-type-<%= post.layout %>" itemscope itemprop="blogPost">
  <div class="article-meta">
    <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
    <%- partial('post/category') %>
  </div>
  <div class="article-inner">
    <%- partial('post/gallery') %>
    <% if (post.link || post.title){ %>
      <header class="article-header">
        <%- partial('post/title', {class_name: 'article-title'}) %>
      </header>
    <% } %>
    <div class="article-entry" itemprop="articleBody">
      <% if (index && theme.hide_index_post_content == true){ %>
        <%- excerpt %>
        <p><a href="<%= url_for(post.path) + anchor %>"><%= __('more') %></a></p>
      <% } else { %>
        <%- post.content %>
      <% } %>
    </div>
    <footer class="article-footer">
      <a data-url="<%- post.permalink %>" data-id="<%= post._id %>" class="article-share-link"><%= __('share') %></a>
      <% if (post.comments && config.disqus_shortname){ %>
        <a href="<%- post.permalink %>#disqus_thread" class="article-comment-link"><%= __('comment') %></a>
      <% } %>
      <%- partial('post/tag') %>
    </footer>
  </div>
  <% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>
</article>

<% if (!index && post.comments && config.disqus_shortname){ %>

<section id="comments">
  <div id="disqus_thread">
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</section>
<% } %>