<%- partial('_partial/head') %>
<body>
  <div id="container">
    <div id="wrap">
        <% if(is_post()) {%>
            <%- partial('_partial/post-header') %>
        <%} else {%>
            <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
        <% } %>

      <div class="outer outer-other" id="contentBox">
        <section id="main"><%- body %></section>
      </div>
      <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
    </div>
  </div>
</body>
</html>
